html
  head
    meta(charset='utf-8')
    style
      include css/base.css
      include css/entry.css
    title Edit Entry
  body

  include header.pug

  form(method="post")
    label(for="title") Title
    textarea(id="title" name="title" rows="2" cols="80") #{title}
    br

    label(for="content") Content
    textarea(id="content" name="content" rows="40" cols="100" required) #{content}
    br

    label Content Type
    br
    input(type="radio" id="contentType" name="contentType" value="markdown" checked=contentType=="markdown")
    label(for="markdown") markdown
    br
    input(type="radio" id="contentType" name="contentType" value="html" checked=contentType=="html")
    label(for="html") html
    br
    input(type="radio" id="contentType" name="contentType" value="plaintext" checked=contentType=="plaintext")
    label(for="plaintext") plaintext
    br

    label(for="subjectDate") Date
    input(type="date" id="subjectDate" name="subjectDate" value=subjectDate readonly=lockedSubjectDate)
    br
    label(for="writeDate") Written
    input(type="date" id="writeDate" name="writeDate" value=writeDate)
    br

    label(for="positivity") Positivity
    input(type="number" id="positivity" name="positivity" min="0" step="any" value=positivity)
    br
    label(for="negativity") Negativity
    input(type="number" id="negativity" name="negativity" max="0" step="any" value=negativity)
    br

    label(for="tags") Tags
    select(name="tags" id="tags"  size="2" multiple)
      each tagName in tagNames
        option(value=tagName selected=(tags && tags.includes(tagName))) #{tagName}
    br

    label(for="doubleNewlines") Double newlines
    input(type="checkbox" id="doubleNewlines" name="doubleNewlines")
    br

    button(type="submit") Save
