doctype html
html
  head
    meta(charset='utf-8')
    style
        include css/entry.css
  body

  a(href=prev) prev
  br
  a(href=next) next
  each entry in entries
    h2
      a(href=entry.link) #{entry.subjectDate} (written #{entry.writeDate})
    ul Ranges:
      each range in entry.parentRanges
        if range.linkParams
          li #{range.name}  &nbsp;
            a(href="/entries" + range.linkParams) Entry View &nbsp;
            a(href="/dates" + range.linkParams) Range View
        else
          li #{range.name}
    | !{ entry.content }
