a(href="/entries/new") New Entry
| &nbsp; &nbsp; &nbsp; &nbsp;
a(href="/entries/latest") Latest Entry
| &nbsp; &nbsp; &nbsp; &nbsp;
a(href='/entries/random') Random Entry
form
  label(for="start") Start
  input(type="text" id="start" name="start" value=start)
  label(for="end") End
  input(type="text" id="end" name="end" value=end)
  br
  label(for="content") Search
  input(type="text" id="content" name="content" value=content)
  label(for="tags") Tags
  select(name="tags" id="tags"  size="2" multiple)
    each tagName in tagNames
      option(value=tagName selected=(tags && tags.includes(tagName))) #{tagName}
  br
  label(for="positivity-above") Pos Above
  input(type="number" id="positivity-above" name="positivityAbove" min="0" step="any" value=positivityAbove)
  label(for="positivity-below") Below
  input(type="number" id="positivity-below" name="positivityBelow" min="0" step="any" value=positivityBelow)
  br
  label(for="negativity-above") Neg Above
  input(type="number" id="negativity-above" name="negativityAbove" max="0" step="any" value=negativityAbove)
  label(for="negativity-below") Below
  input(type="number" id="negativity-below" name="negativityBelow" max="0" step="any" value=negativityBelow)
  br
  label(for="total-above") Tot Above
  input(type="number" id="total-above" name="totalAbove" step="any" value=totalAbove)
  label(for="total-below") Below
  input(type="number" id="total-below" name="totalBelow" step="any" value=totalBelow)
  br
  button(type="submit" formaction='/entries') Entries
  button(type="submit" formaction='/dates') Dates
  button(type="submit" formaction='/dates/list') Periods
  button(type="submit" formaction='/impressions') Impressions
  button(type="submit" formaction='/tags') Tags
