doctype html
html
  head
    meta(charset='utf-8')
    style
        include css/base.css
        include css/entry.css
  body
  include header.pug

  h1 Tags

  form(method="post" action="/tags/new")
    label(for="name") New Tag
    input(type="text" id="name" name="name" required)
    button(type="submit") Save

  each tag in tags
    h3 #{tag.name}
    ul
      li
        a(href=tag.entriesLink) Entries
      li
        a(href=tag.datesLink) Date Range View
      li
        a(href=tag.deleteLink) Delete

    h4 Notes

    ul
      each note in tag.notes
        li
          | !{ note.content }
          | &nbsp; &nbsp;
          | Written: #{note.writeDate}
          | &nbsp; &nbsp;
          a(href=note.deleteLink) Delete
