doctype html
html
  head
    meta(charset='utf-8')
    style
        include css/base.css
        include css/entry.css
  body

  include header.pug

  h3
    a(href=prev) prev
    | &nbsp;
    a(href='/entries/random') random
    | &nbsp;
    a(href=next) next

  each element in elements
    if element.isRange
      h1 #{element.name}
    else
      h2
        a(href=element.link) #{element.subjectDate} (written #{element.writeDate})
      h4
        a(href=element.editLink) Edit
        | &nbsp;
        a(href=element.deleteLink) Delete
      | Ranges:

      ul
        each range in element.parentRanges
          if range.linkParams
            li #{range.name}
              | &nbsp;
              a(href="/entries" + range.linkParams) Entry View
              | &nbsp;
              a(href="/dates" + range.linkParams) Range View
          else
            li #{range.name}
      | !{ element.content }
