doctype html
html
  head
    meta(charset='utf-8')
    style
        include css/base.css
        include css/entry.css
    title Nemosyne
  body

  include header.pug

  h3
    a(href=prevYear) -Yr
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=prevMonth) -Mon
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=prevWeek) -Wk
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=prevDay) -Day
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=nextDay) +Day
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=nextWeek) +Wk
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=nextMonth) +Mon
    | &nbsp;
    | &nbsp;
    | &nbsp;
    | &nbsp;
    a(href=nextYear) +Yr
  
  b Total entries: #{numEntries}. Total ranges: #{numRanges}

  each element in elements
    if element.isRange
      h1 #{element.name}
    else
      details(open)
        summary
          h2
            a(href=element.link) #{element.subjectDate} (written #{element.writeDate})
            span(class="icon") V
        h4
          a(href=element.editLink) Edit
          | &nbsp;
          a(href=element.deleteLink onclick="return confirm('Are you sure you want to delete this entry?');") Delete
        | Ranges:

        ul
          each range in element.parentRanges
            if range.linkParams
              li #{range.name}
                | &nbsp;
                a(href="/entries" + range.linkParams) Entry View
                | &nbsp;
                a(href="/dates" + range.linkParams) Range View
            else
              li #{range.name}
        hr
        | !{ element.content }
